<div class="container">
    <h2> Novo contato </h2>
    <form>
        <div class="form-group">
            <label for="nome"> Nome </label>
            <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="email"> Email </label>
            <input type="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="telefone"> Telefone </label>
            <input type="text" class="form-control" placeholder="(xx) xxxx-xxxx">
        </div>

        <button type="submit" class="btn btn-success"> Salvar </button>
        <a class="btn btn-secondary" routerLink="/"> Voltar </a>
    </form>
</div>